{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
{% load user_filters %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 mb-3 mt-1">
            <div class="card">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="h3">
                                Об авторе
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="h6 text-muted">
                                <a href=https://github.com/Vuictorovna>Мой Github</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card-body">
                <div class="card-text">
                    <p>Привет!
                        Меня зовут Оля, и я учусь программировать.
                        Сейчас я посвящаю всё своё время изучению Python и Django.
                        Это мой первый проект c использованием фреймворка Django,
                        так что, пожалуйста, не судите строго! 🙂
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
